<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agenda</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="body-login">
    <%- include('includes/nav.ejs') %>

        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 my-5">
                    <h1 class="text-center display-1">Login</h1>
                    <p class="text-center lead">Faça login ou crie sua conta abaixo</p>

                    <%- include('includes/message') %>

                    <div class="row login-row">
                        <div class="col-lg form form-active login-form">
                            <h4>Faça seu login</h4>

                            <form class="my-4" action="/login/login" method="POST">
                                <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                                <div class="form-group">
                                    <label for="email_control">Seu email</label>
                                    <input type="email" name="email" id="email_control" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password_control">Sua senha</label>
                                    <input type="password" name="password" id="password_control" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary">Entrar</button>
                                <p class="my-3">Não tem conta? <a href="#" class="register_link">fazer cadastro</a></p>
                            </form>
                        </div>

                        <div class="col-lg form register-form">
                            <h4>Faça seu cadastro</h4>

                            <form class="my-4" action="/login/register" method="POST">
                                <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                                <div class="form-group">
                                    <label for="email_control">Seu email</label>
                                    <input type="email" name="email" id="email_control" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password_control">Sua senha</label>
                                    <input type="password" name="password" id="password_control" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary">Criar minha conta</button>
                                <p class="my-3">Já tem conta? <a href="#" class="login_link">fazer login</a></p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script src="./assets/js/bundle.js"></script>
</body>

</html>